# Dependencies
/node_modules

# Angular build output
/dist
/tmp
/out-tsc

# Angular cache
/.angular

# IDEs
.vscode/
.idea/
*.iml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Coverage
/coverage

# Angular CLI cache
.angular/cache